.mat-chip:not(.mat-basic-chip) {
  color: #fff !important;
}

.mat-chip.green {
  background-color: #18a800 !important;
}

.mat-chip.red {
  background-color: red !important;
}

.mat-chip.primary {
  background-color: #1976D2 !important
}